/****************************************
**************** SUMMARY ****************
1. FONTS
2. GENERAL
3. SITE HEADER
4. SITE FOOTER
5. HOMEPAGE
6. WEBZINE PAGE
7. ARTICLES PAGE
8. SIMPLE PAGE
9. CODE HIGHLIGHTING
10. MEDIA SCREEN
*****************************************
******************* ❤️ *****************/



/*******
****
***
1. FONTS
***
****
*******/
/* latin */
@font-face {
	font-family: "Averia Serif Libre";
	font-weight: 400;
	font-style: normal;
	src: local("Averia Serif Libre Regular"), local("AveriaSerifLibre-Regular"), url(../fonts/Averia-Serif-Libre.woff2) format("woff2");
	unicode-range: U+0000-00FF,
	U+0131,
	U+0152-0153,
	U+02BB-02BC,
	U+02C6,
	U+02DA,
	U+02DC,
	U+2000-206F,
	U+2074,
	U+20AC,
	U+2122,
	U+2212,
	U+2215;
}
/* cyrillic */
@font-face {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(../fonts/Source-Sans-Pro-1.woff2) format("woff2");
	unicode-range: U+0400-045F,
	U+0490-0491,
	U+04B0-04B1,
	U+2116;
}
/* greek-ext */
@font-face {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(../fonts/Source-Sans-Pro-2.woff2) format("woff2");
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(../fonts/Source-Sans-Pro-3.woff2) format("woff2");
	unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(../fonts/Source-Sans-Pro-4.woff2) format("woff2");
	unicode-range: U+0102-0103,
	U+0110-0111,
	U+1EA0-1EF9,
	U+20AB;
}
/* latin-ext */
@font-face {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(../fonts/Source-Sans-Pro-5.woff2) format("woff2");
	unicode-range: U+0100-024F,
	U+0259,
	U+1E00-1EFF,
	U+20A0-20AB,
	U+20AD-20CF,
	U+2C60-2C7F,
	U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-style: normal;
	src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"), url(../fonts/Source-Sans-Pro-6.woff2) format("woff2");
	unicode-range: U+0000-00FF,
	U+0131,
	U+0152-0153,
	U+02BB-02BC,
	U+02C6,
	U+02DA,
	U+02DC,
	U+2000-206F,
	U+2074,
	U+20AC,
	U+2122,
	U+2212,
	U+2215;
}


/*******
****
***
2. GENERAL
***
****
*******/
:root {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: inherit;
	background-color: #fafafa;
	padding-top: 4.4rem; /* Equal to the nav height */
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

* {
	box-sizing: border-box;
	vertical-align: top;
}

div,
main,
a,
p,
nav,
img,
button,
span,
textarea,
input,
main,
first-box,
h1,
:after,
:before {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

input,
button,
textarea {
	font: inherit;
	margin: 0;
	padding: 0;
	color: inherit;
	border: 0;
	-webkit-appearance: none;
	        appearance: none;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration {
	display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
	margin: 0;
	margin: 0 auto;
	padding: 0;
}

p {
	line-height: 1.5em;
	margin: 1rem auto;
	color: #555;
}

.disapear {
	position: absolute;
	top: -666.666px;
	left: -666.666px;
	width: 0;
	height: 0;
}

.disabled {
	cursor: not-allowed;
	-webkit-user-select: none;
	        user-select: none;
}

.main {
	flex: 1;
	width: 100vw;
	max-width: 70rem;
	margin: 0 auto;
}

.head-page {
	padding: 5rem 2rem;
	margin-bottom: 2rem;
	position: relative;
}

.head-page:after {
	content: "";
	width: calc(100% - 4rem);
	height: 1px;
	display: block;
	background-color: #eee;
	position: absolute;
	bottom: 0;
	left: 2rem;
}

.homepage .head-page h2,
.head-page h2 {
	font-size: 3rem;
	line-height: 1em;
	display: table;
	max-width: 42rem;
	margin: 0 auto;
	margin-bottom: 1.5rem;
}

.head-page p {
	max-width: 42rem;
	margin: 0 auto;
	text-align: center;
}


/*******
****
***
3. SITE HEADER
***
****
*******/
.main-header {
	background-color: #fff;
	position: fixed;
	top: 0;
	height: 4.4rem;
	width: 100vw;
	z-index: 998;
	box-shadow: 0 0 1rem hsla(0, 0%, 80%, .5);
}

.main-nav {
	display: flex;
	height: inherit;
	max-width: 70rem;
	padding: 0 2rem;
	margin: 0 auto;
}

.main-nav > a {
	line-height: 3.65rem;
	padding: 0 .5rem;
	margin: .5rem 0;
	font-weight: bold;
	background-color: #000;
	color: #fff;
	font-size: 1.8rem;
	position: relative;
	height: 3.4rem;
	margin-right: auto;
	font-family: "Averia Serif Libre", sans-serif;
	transition: .2s background-color, .2s color;
}

.main-nav > a:hover {
	color: #000;
	background-color: #eee;
}

.menu {
	height: inherit;
	display: inherit;
}

.show-menu-btn {
	display: none;
}

.menu a {
	margin: .95rem .2rem;
	padding: 0 .5rem;
	line-height: 2.5rem;
	height: 2.5rem;
	color: #555;
	transition: .2s color;
}

.menu > a:hover {
	color: #000;
}


/*******
****
***
4. SITE FOOTER
***
****
*******/
.bottom {
	position: relative;
	height: 10rem;
	background-color: #fff;
	margin-top: 6rem;
	box-shadow: 0 0 5rem hsla(0, 0%, 90%, .5);;
}

.bottom > nav {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: table;
}

.bottom > nav > a {
	font-size: .9rem;
	padding: 1rem .5rem;
	transition: .3s border-color;
	text-align: center;
	border: 1px solid #eee;
	border-radius: .2rem;
	width: 11rem;
	margin: 0 .5rem;
	display: inline-block;
}

.bottom > nav > a:hover {
	border-color: #999;
}


/*******
****
***
5. HOMEPAGE
***
****
*******/
.homepage > section {
	width: inherit;
	padding: 0 2rem;
	position: relative;
}

.homepage > section:not(:first-of-type) {
	padding-top: 2.5rem;
}

.homepage > section:not(:last-of-type) {
	padding-bottom: 2.5rem;
}

.homepage > section:nth-of-type(odd) div {
	padding-right: 2rem;
}

.homepage > section:nth-of-type(even) div {
	padding-left: 5rem;
}

.homepage h2 {
	font-size: 3rem;
	line-height: 1em;
	margin: 0;
	margin-bottom: 1.5rem;
}

.homepage > section > div {
	display: inline-block;
	width: calc(100% - 27rem);
	vertical-align: top;
}

.homepage > section p {
	margin: .5rem 0;
	color: #555;
}

.homepage > section > img {
	display: inline-block;
	width: 27rem;
	vertical-align: top;
	border-radius: .4rem;
	box-shadow: 0 .5rem 1rem hsla(0, 0%, 86%, .43);
	background-color: #fff;
	height: 17rem;
	object-fit: cover;
}


/*******
****
***
6. WEBZINE PAGE
***
****
*******/
.webzine h1 {
	padding: 3rem 0;
	font-size: 3rem;
	text-align: center;
}

.list-of-posts {
	max-width: inherit;
	padding: 0 2rem;
}

.post-link {
	margin: 1rem 0;
	padding: 1rem;
	background-color: #fff;
	box-shadow: 0 .5rem 1rem hsla(0, 0%, 86%, .43);
	display: block;
	transition: .2s box-shadow, .2s transform;
}

.post-link:hover {
	transform: scale(1.01);
	box-shadow: 0 .5rem 1.1rem hsla(0, 0%, 86%, .55);
	transition: .3s box-shadow, .3s transform;
}

.post-link:first-child,
.post-link:last-child {
	margin: 0;
}

.post-link time {
	color: hsla(0, 0%, 60%, 1);
	font-size: .9em;
}


/*******
****
***
7. ARTICLES PAGE
***
****
*******/
.post {
	max-width: 50rem; /* More simple to read text on small width */
	margin: 0 auto;
	padding: 0 2rem;
}

.post h1 {
	padding: 3rem 0;
	padding-bottom: 0;
	font-size: 3rem;
	text-align: center;
}

.post header time {
	margin: .2rem auto;
	display: table;
	color: hsla(0, 0%, 60%, 1);
	font-size: .9em;
	margin-bottom: 3rem;
}

.post p {
	line-height: 1.5rem;
}

.post a {
	color: #000;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, .68) 50%, rgba(0, 0, 0, 0) 50%);
	background-repeat: repeat-x;
	background-size: 2px .1em;
	background-position: 0 1.07em;
}


/*******
****
***
8. SIMPLE PAGE
***
****
*******/
.page {
	padding: 0 2rem;
	position: relative;
}

.page h1 {
	padding: 2rem 0;
	font-size: 3rem;
	text-align: center;
}

.page > p:only-child {
	text-align: center;
	margin: 2rem;
}


/*******
****
***
9. CODE HIGHLIGHTING
***
****
*******/
.highlight {
	margin: 0;
}
.highlight pre {
	padding: 1rem;
}
.highlight pre {
	background-color: #404040;
}
.highlight .hll {
	background-color: #404040;
}
.highlight .c {
	color: #999;
	font-style: italic;
} /* Comment */
.highlight .err {
	color: #a61717;
	background-color: #e3d2d2;
} /* Error */
.highlight .g {
	color: #d0d0d0;
} /* Generic */
.highlight .k {
	color: #6ab825;
	font-weight: bold;
} /* Keyword */
.highlight .l {
	color: #d0d0d0;
} /* Literal */
.highlight .n {
	color: #d0d0d0;
} /* Name */
.highlight .o {
	color: #d0d0d0;
} /* Operator */
.highlight .x {
	color: #d0d0d0;
} /* Other */
.highlight .p {
	color: #d0d0d0;
} /* Punctuation */
.highlight .cm {
	color: #999;
	font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
	color: #cd2828;
	font-weight: bold;
} /* Comment.Preproc */
.highlight .c1 {
	color: #999;
	font-style: italic;
} /* Comment.Single */
.highlight .cs {
	color: #e50808;
	font-weight: bold;
	background-color: #520000;
} /* Comment.Special */
.highlight .gd {
	color: #d22323;
} /* Generic.Deleted */
.highlight .ge {
	color: #d0d0d0;
	font-style: italic;
} /* Generic.Emph */
.highlight .gr {
	color: #d22323;
} /* Generic.Error */
.highlight .gh {
	color: #fff;
	font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
	color: #589819;
} /* Generic.Inserted */
.highlight .go {
	color: #ccc;
} /* Generic.Output */
.highlight .gp {
	color: #aaa;
} /* Generic.Prompt */
.highlight .gs {
	color: #d0d0d0;
	font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
	color: #fff;
	text-decoration: underline;
} /* Generic.Subheading */
.highlight .gt {
	color: #d22323;
} /* Generic.Traceback */
.highlight .kc {
	color: #6ab825;
	font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
	color: #6ab825;
	font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
	color: #6ab825;
	font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
	color: #6ab825;
} /* Keyword.Pseudo */
.highlight .kr {
	color: #6ab825;
	font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
	color: #6ab825;
	font-weight: bold;
} /* Keyword.Type */
.highlight .ld {
	color: #d0d0d0;
} /* Literal.Date */
.highlight .m {
	color: #3677a9;
} /* Literal.Number */
.highlight .s {
	color: #ed9d13;
} /* Literal.String */
.highlight .na {
	color: #bbb;
} /* Name.Attribute */
.highlight .nb {
	color: #24909d;
} /* Name.Builtin */
.highlight .nc {
	color: #447fcf;
	text-decoration: underline;
} /* Name.Class */
.highlight .no {
	color: #40ffff;
} /* Name.Constant */
.highlight .nd {
	color: #ffa500;
} /* Name.Decorator */
.highlight .ni {
	color: #d0d0d0;
} /* Name.Entity */
.highlight .ne {
	color: #bbb;
} /* Name.Exception */
.highlight .nf {
	color: #447fcf;
} /* Name.Function */
.highlight .nl {
	color: #d0d0d0;
} /* Name.Label */
.highlight .nn {
	color: #447fcf;
	text-decoration: underline;
} /* Name.Namespace */
.highlight .nx {
	color: #d0d0d0;
} /* Name.Other */
.highlight .py {
	color: #d0d0d0;
} /* Name.Property */
.highlight .nt {
	color: #6ab825;
	font-weight: bold;
} /* Name.Tag */
.highlight .nv {
	color: #40ffff;
} /* Name.Variable */
.highlight .ow {
	color: #6ab825;
	font-weight: bold;
} /* Operator.Word */
.highlight .w {
	color: #666;
} /* Text.Whitespace */
.highlight .mf {
	color: #3677a9;
} /* Literal.Number.Float */
.highlight .mh {
	color: #3677a9;
} /* Literal.Number.Hex */
.highlight .mi {
	color: #3677a9;
} /* Literal.Number.Integer */
.highlight .mo {
	color: #3677a9;
} /* Literal.Number.Oct */
.highlight .sb {
	color: #ed9d13;
} /* Literal.String.Backtick */
.highlight .sc {
	color: #ed9d13;
} /* Literal.String.Char */
.highlight .sd {
	color: #ed9d13;
} /* Literal.String.Doc */
.highlight .s2 {
	color: #ed9d13;
} /* Literal.String.Double */
.highlight .se {
	color: #ed9d13;
} /* Literal.String.Escape */
.highlight .sh {
	color: #ed9d13;
} /* Literal.String.Heredoc */
.highlight .si {
	color: #ed9d13;
} /* Literal.String.Interpol */
.highlight .sx {
	color: #ffa500;
} /* Literal.String.Other */
.highlight .sr {
	color: #ed9d13;
} /* Literal.String.Regex */
.highlight .s1 {
	color: #ed9d13;
} /* Literal.String.Single */
.highlight .ss {
	color: #ed9d13;
} /* Literal.String.Symbol */
.highlight .bp {
	color: #24909d;
} /* Name.Builtin.Pseudo */
.highlight .vc {
	color: #40ffff;
} /* Name.Variable.Class */
.highlight .vg {
	color: #40ffff;
} /* Name.Variable.Global */
.highlight .vi {
	color: #40ffff;
} /* Name.Variable.Instance */
.highlight .il {
	color: #3677a9;
} /* Literal.Number.Integer.Long */


/*******
****
***
10. MEDIA SCREEN
***
****
*******/
@media screen and (max-width: 50rem) {
	.homepage > section > div {
		display: block;
		width: 100%;
		padding: 2rem !important;
		text-align: center;
	}

	.homepage > section > img {
		display: block;
		width: 100%;
		height: auto;
	}

	.bottom {
		margin-top: 2rem;
	}

	.head-page {
		padding: 3rem 2rem;
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 3rem;
	}

	.hompage h2 {
		font-size: 2rem;
	}
}

@media screen and (max-width: 30rem) {
	h1 {
		font-size: 2.5rem;
	}

	.homepage h2 {
		font-size: 1.5rem;
	}
}

@media screen and (max-width: 25rem) {
	.bottom > nav > a {
		width: 11rem;
		margin: 0 auto;
		display: block;
	}

	.bottom > nav > a:first-of-type {
		margin-bottom: .5rem;
	}
}

@media screen and (max-width: 40rem) {
	.show-menu-btn {
		display: block;
		background-color: #000;
		color: #fff;
		-webkit-user-select: none;
		        user-select: none;
		cursor: pointer;
		width: 4.4rem;
		height: 2.4rem;
		margin: 1rem 0;
		line-height: 2.4rem;
		text-align: center;
		text-transform: uppercase;
		font-weight: bold;
	}

	.menu {
		display: block;
		left: 0;
		position: fixed;
		top: 4.4rem;
		background-color: hsla(0, 0%, 0%, 1);
		width: 100vw;
		height: 0;
		border-top: 1px solid #fafafa;
		z-index: 990;
		overflow: hidden;
		transition: .4s height;
	}

	#show-menu:checked ~ .main-header .menu {
		height: calc(100vh - 4.4rem);
		transition: 1s height;
	}

	.menu > a {
		display: block;
		margin: 0 1rem;
		padding: 0 2rem;
		line-height: 4rem;
		height: 4rem;
		color: #fff;
	}

	.menu > a:hover {
		color: #bbb;
	}

	.menu > a:first-of-type {
		margin-top: 1rem;
	}

	.menu > a:not(:first-of-type) {
		border-top: 1px solid #aaa;
	}
}
