---
layout: default
title: homepage
---
<div class="homepage">
	<div class="overlap">
		<h2>Pourquoi nous ?</h2>
		<p>À travers ce groupe slack, nous nous entraidons sur toutes les difficultés que l’on rencontre dans l’élaboration de nos projets. Nous discutons aussi des dernières technologies ou bien d’autres sujets beaucoup plus larges.</p>
	</div>
	<section>
		<div data-scrollreveal="enter top over 1s">
			<h2>Trouvez une réponse à vos problèmes</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
			<p></p>
		</div><!--
	 --><img data-scrollreveal="enter top over 1s after 0.3s" src="https://thedesignership.com/images/screenshot-community.jpg" alt="">
	</section>
	<section>
		<img data-scrollreveal="enter top over 1s" src="https://thedesignership.com/images/screenshot-creatives.jpg" alt=""><!--
	 --><div data-scrollreveal="enter top over 1s after 0.3s">
			<h2>Parlez avec des personnes, réelles</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
		</div>
	</section>
</div>
